<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="board-container">
  <h1>게시판</h1>
  <button class="my-button" th:onclick="|location.href='@{/diaries/write}'|" type="button">글쓰기</button>

  <table class="board-table">
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
      <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" diary : ${diaryList}">
      <td th:text="${diary.id}">1</td>
      <td><a href="#" th:text="${diary.title}">게시글 제목</a></td>
      <td th:test="${diary.localDateTime}">2023-03-21</td>
      <td>100</td>
    </tr>

    <!-- 더 많은 게시글 추가 -->
    </tbody>
  </table>
  <div class="pagination">
    <a href="#">이전</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">다음</a>
  </div>
</div>
</body>
</html>