<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<h2>로그인</h2>

<form th:action="@{/login}" th:object="${LoginForm}" method="post">

    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>
    <div>
        아이디:
        <input type="text" th:field="*{loginId}" name="username" />
        <div style="color:red"
             th:if="${#fields.hasErrors('loginId')}"
             th:errors="*{loginId}"></div>
    </div>

    <div>
        비밀번호:
        <input type="password" th:field="*{loginPassword}" name="password" />
        <div style="color:red"
             th:if="${#fields.hasErrors('loginPassword')}"
             th:errors="*{loginPassword}"></div>
    </div>

    <br>
    <button type="submit">로그인</button>
    <br>
    <button type="button" th:onclick="|location.href='@{/}'|">홈으로</button>

</form>

</body>
</html>